
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title"><%= @item.name %></h3>
  </div>

  <div class="panel-body">

    <div class="container">

      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8"><%= image_tag(@item.picture_url, :width => "65%") if @item.picture.present? %></div>
      </div>

      <div class="row">
        <div class="col-md-2"><b>คำอธิบาย</b></div>
        <div class="col-md-8"><%= simple_format(@item.description) %></div>
      </div>

<!--       <div class="row">
        <div class="col-md-2"><b>Product Model Number</b></div>
        <div class="col-md-4"><%= @item.product_model_number %></div>
      </div>

      <div class="row">
        <div class="col-md-2"><b>Vendor</b></div>
        <div class="col-md-4"><%= @item.vendor_name %></div>
      </div>

      <div class="row">
        <div class="col-md-2"><b>Vendor Part Number</b></div>
        <div class="col-md-4"><%= @item.vendor_part_number %></div>
      </div> -->

<!--       <div class="row">
        <div class="col-md-2"><b>Vendor URL</b></div>
        <div class="col-md-4"><%= link_to(@item.vendor_url, @item.vendor_url, :target => "_blank") %></div>
      </div> -->

      <div class="row">
        <div class="col-md-2"><b>จำนวน</b></div>
        <div class="col-md-4"><%= @item.quantity %></div>
      </div>

      <div class="row">
        <div class="col-md-2"><b>ราคาต่อชิ้น</b></div>
        <div class="col-md-4"><%= @item.unit_value %> บาท</div>
      </div>

      <div class="row">
        <div class="col-md-2"><b>ราคารวม</b></div>
        <div class="col-md-4"><%= @item.value %> บาท</div>
      </div>


        <div class="row">
          <div class="col-md-2"></div>
          <div class="col-md-4">
            <%= link_to 'แก้ไข', edit_item_path(@item), :class => "btn btn-primary" %>
            <%= link_to 'ลบ', @item, confirm: 'Are you sure?', method: :delete, :class => "btn btn-warning" %>
            <%= link_to 'กลับหน้าแรก', items_path, :class => "btn btn-danger" %>
          </div>
        </div>

    </div>


</div>
